<center/>

<div class="jumbotron" style="background-image: url(<%= @list.picture_url %>); background-size: 100%; background-size: cover;">
   <div class="container">
      <h2 class="title-text"><%= @list.title %></h2>
   </div>
</div>

<% @companies.each_with_index do |company, index| %>
  <div class = "mainbox">
    <div class = "box0">
      <div><h3><%= index + 1 %>. <%= company.name %></h3></div>
    </div>
    <hr>
    <div class="box1 justify-content-between">
      <div class="box1-1">
        <div class = "image" ><img ><%= image_tag(company.picture_url, width: 600) if company.picture.present? %></img></div>
      </div>
      <div class="box1-2">
        <div class="category">
          Category: <%= company.category.present? ? company.category : 'Not added yet' %>
        </div>
        <br/>
        <div class="box2">
          <%= company.description %>
        </div>
        <br/>
        <div class="box3">
          <% if company.is_indian %>
            <h4 class="is-indian" style="color:green">This is Indian Company<h4>
          <% else %>
            <h4 class="is-indian" style="color:red">This is not the Indian Company<h4>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <br>
<div>
<% end %>

