<%= form_for @company, local: true do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, [], {}, {class: "form-control select2", data: { init: (form.object.name.present? ? [form.object.name, form.object.name.parameterize.underscore] : []), url: '/company_provider' }} %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <% if current_user.present? %>
    <div class="field">
      <%= form.label "Approved" %>
      <%= form.check_box :is_approved, {}, true, false %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update', class: 'submit-form'%>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    select2($('.select2'));
  });
<% end %>
