<center/>
<div class="home-page">
  <h1>Is it Indian Company?</h1>
  <br/>
  <div class='form-group'>
    <%= form_for Company.new, url: { action: :search_company }, method: 'post', remote: true do |form| %>
      <%= form.select :name, [], {}, {class: "select2", data: { url: '/company_provider' }} %>
      <br/>
      <div class="actions">
        <%= form.submit 'Search', class: 'btn btn-info btn-sm'%>
      </div>
    <% end %>

    <br/><br/>
  </div>

  <h2 class="love-tag">
    Made with <i class="fa fa-heart" style="font-size:30px;color:red"></i> in India
  </h2>

  <br/><br/>

  <h4>
    Start using Indian products. Ban all chinese and foreign products.
  </h4>

  <br/>
  <h1>"आत्मनिर्भर भारत!!"</h1>

  <br/><br/>

  <div>

    <div>
      <%= button_to "All Indian Companies", companies_url, method: :get, class: 'btn btn-outline-success' %>
    </div>

    <br/>
    <div>
      <%= button_to "Suggest Indian Company", new_company_url, method: :get, class: 'btn btn-outline-success' %>
    </div>


