<center/>

<p id="notice"><%= notice %></p>
  <tbody>
    <div class="filter-container my-4">
      <button class="filter-btn btn dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filter</button>
      <div class="dropdown-menu">
        <%= simple_form_for :search, url: companies_path, method: "GET" do |f| %>
          <div class="custom-control custom-checkbox">
            <%= f.input :categories, label: "Category",  collection: CATEGORIES, as: :check_boxes, checked: @filter, label: false, item_wrapper_class: 'checkbox_container' %>
            <%= f.submit "Search", class: "btn btn-primary btn-sm" %>
            <%= link_to "Reset", companies_path  %>
          </div>
        <% end %>
      </div>
    </div>
    <% @companies.each do |company| %>
      <div class = "mainbox">
        <div class = "box0">
          <div><h3><%= company.name %></h3></div>
        </div>
        <hr>
        <div class="box1 justify-content-between">
          <div class="box1-1">
            <div class = "image" ><img ><%= image_tag(company.picture_url, width: 600) if company.picture.present? %></img></div>
          </div>
          <div class="box1-2">
            <div class="category">
              Category: <%= company.category.present? ? company.category : 'Not added yet' %>
            </div>
            <br/>
            <div class="box2">
              <%= company.description %>
            </div>
            <br/>
            <div class="box3">
              <% if company.is_indian %>
                <h4 class="is-indian" style="color:green">This is Indian Company<h4>
              <% else %>
                <h4 class="is-indian" style="color:red">This is not the Indian Company<h4>
              <% end %>
            </div>
          </div>
        </div>
        <hr>

      </div>
    <br>
    <% if current_user.present? %>
      <div>
        <div class="box1-3">
          <%= link_to 'Show', company %>
          <%= link_to 'Edit', edit_company_path(company) %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= will_paginate @clients, inner_window: 1, outer_window: 1, list_classes: %w(pagination justify-content-center) %>
<div>
  <%= button_to "Suggest Indian Company", new_company_url, method: :get, class: 'btn btn-outline-success btn-lg' %>
</div>
