<p id="notice"><%= notice %></p>

<%= image_tag(@company.picture_url, width: 600) if @company.picture.present? %>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @company.discription %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @company.picture %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
